@charset "utf-8";

html{
	font-size: 62.5%;
}
body{
    font-family: 'Lato',"游ゴシック体","游ゴシック", "Yu Gothic", sans-serif;
	font-weight:500;
	color: #333333;
	font-size: 1.4rem;
}
img{
	max-width: 100%;
	height: auto;
}
a{
	text-decoration: none;
	color: #333333;
}
ul,
li{
	list-style: none;
}
h2{
	color: #002B5C;
	font-size: 3.0rem;
}
.h2_title{
	text-align: left;
	font-size: 3rem;
	font-weight: 700;
}
.h2_subtitle{
	margin-bottom: 5px;
	font-size: 1.4rem;
	font-weight: 500;
	text-transform: uppercase;
}
p{
	line-height: 1.7;
	margin:0;
}
.center{
	text-align: center;
}
.text_space{
	margin-bottom: 15px;
}
.small_text{
	font-size: 1.2rem;
}
small{
	text-align: right;
}
.btn_box{
	margin-top: 30px;
}
.btn:first-child{
	margin-right: 15px;
}
.btn{
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.5;
	position: relative;
	display: inline-block;
	padding: 1rem 4rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: #002B5C;
	border: 2px solid #002B5C;
}
.btn_flat{
	overflow: hidden;
	padding: 1.3rem 4rem 1.3rem 3rem;
	border-radius: 0;
	color: #002B5C;
}
.btn_flat span {
	position: relative;
}
.btn_flat::after {
	position: absolute;
	top: 0;
	right: 0;

	width: 100px;
	height: 100px;

	content: '';
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-transform: translateX(75%) translateY(-23px);
	transform: translateX(75%) translateY(-23px);

	border-radius: 50%;
	background: #E1EAF3;
}
.btn_flat:hover::after {
	width: 400px;
	height: 400px;

	-webkit-transform: translateX(-1%) translateY(-175px);

	transform: translateX(0%) translateY(-173px);
}

/* ヘッダー */
.header{
	background-color: #ffffff;
	width: 100%;
	height: 90px;
}
.header_inner{
	display: flex;
	justify-content: space-between;
	align-items: start;
}
.header_logo{
	max-width: 150px;
	height: auto;
	background-color: #E1EAF3;
	opacity: 90%;
	padding: 15px;
}
.header_logo:hover{
	opacity: .8;
}
.header_nav{
	display: flex;
		flex-direction: row;
    justify-content: flex-end;
}
.header_nav_items{
	display: flex;
	flex-direction: row;
    justify-content: flex-end;
	margin-right: 40px;
}
.header_nav li{
	padding-left: 10px;
}
.header_tel{
	display: flex;
	flex-flow: column;
}
.tel_icon{
	width: 16px;
}
.tel_number{
	font-size: 2.0rem;
	font-weight: bold;
	color: #002B5C;
	letter-spacing: 0.1em;
}


/* メインビジュアル */
.mainvisual {
    min-height: 100vh;
    max-width: 100%;
    background-image: url(/src/dentist/img/main_img.png);
	background-size: cover;
    background-position: center;
	margin: 0 0 120px;
}

/* about */
.about_inner{
	display: flex;
	justify-content: space-between;
	margin: 0 0 120px;
}
.about_img{
	max-height: 100vh;
	width: auto;
}
.about_text{
	
	max-width: 690px;
}
.flex_item{
	margin-left: 10%;
	margin-right: 100px;
}

/* menu */
.menu_inner{
	display: flex;
	justify-content: center;
}
.menu_inner > div:nth-child(1){	
	margin-right: 50px;
	margin-bottom: 30px;
}
.menu_inner > div:nth-child(2){	
	margin-right: 50px;
}

.menu_bg{
	max-width: 80%;
	background-color: #E1EAF3;
	text-align: center;
	margin: 0 auto 120px;
	border-radius: 235px;
	padding: 20px 0 80px;
}
.menu_icon{
	height: 130px;
	width: auto;
}
.menu_link{
	font-size: 1.8rem;
	font-weight: bold;
}

/* docter */
.docter_inner{
	display: flex;
	margin: 0 0 120px;
}
.docter_img{
	max-height: 400px;
	width: auto;
	margin-right: 100px;
}
.docter_greeting{
	margin-right: 10%;
}
.docter_name{
	font-size: 1.8rem;
	font-weight: bold;
	color: #002B5C;
	margin-bottom: 10px;
}

/* footer */
.footer_bg{
	background-color: #E1EAF3;
	display: flex;
	justify-content: center;
	padding: 80px 10% 80px;
}
.footer_info{
	margin-right: 100px;
}
.footer_links{
	display: flex;
	justify-content: center;
}
.links{
	display: flex;
}
.footer_hr{
	margin-top: 20px;
	margin-bottom: 20px;
	height: 0.5px;
	background-color: #002B5C;
}
.footer_table{
	margin-top: 20px;
	border-collapse: collapse;
	max-width: 385px;
}
.footer_table th, .footer_table td {
	border: 1px solid #002B5C;
	background-color: #fff;
}
.footer_table th {
	background-color: #002B5C;
	color: #fff;
	text-align: center;
	width: 20%;
	min-width: 4em;
}
.footer_logo{
	max-width: 150px;
	height: auto;
}
.contact_btn{
	display: inline-block;
	text-align: center;
	padding: 1rem 3rem;
	margin-top: 1rem;
	background-color: #BEE84C;
	color: #fff;
	font-size: 13px;
	cursor: pointer;
	max-height: 100px;
}
.contact_btn:hover{
	opacity: .8;
}
.reservation_btn{
	display: inline-block;
	text-align: center;
	padding: 1rem 3rem;
	margin-top: 1rem;
	background-color: #002B5C;
	color: #fff;
	font-size: 13px;
	cursor: pointer;
	max-height: 100px;
}
.reservation_btn:hover{
	opacity: .8;
}